h1{
    line-height: 1.5;
    margin: 10px;
}

.game-stuff{
    width: 70%;
    margin: auto;
    text-align: center;
    font-family: "Inter", sans-serif;
}

body{
    background: #D9D9D9;

}
.scores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
}
.head{
    display:flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter',sans-serif ;
    margin-bottom: 10px;
    margin-top: 50px;
}
.button1{
    margin-top: 0px;
    background: none;           
    border: none;  
    cursor: pointer;
}


/*to center the text in the button*/
button p {
    margin: 0;
    line-height: 2.0; 
  }
  
.dice{
    size: 10%;
    display: flex;
    justify-content: space-evenly;
}

.button2{
    width: 170px;
    height: 60px;
    background-color: rgba(223, 46, 56, 1);

    border: none;
    border-radius: 14px;
    cursor: pointer;

    color: white;
    font-weight: 700;
    font-size: 25px;
   
}

.game-history {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.game-history h2{
    color: green;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.game-history li{
    text-align: left;
    margin: 5px 0;
    padding: 0;
    width: 100%;
    font-weight: 700;
}

#player1-score-value, 
#player2-score-value {
    color: red;
    font-weight: bold;
}


.result {
    color: #AF2D2D;
    min-height: 3.0rem; 
    
    visibility: hidden; 
    font-weight: bold;
}
.result.visible {
    visibility: visible;
}

